
body {
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    background-color: #222;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    min-height: 80vh; /* Adjust minimum height */
}
